/* global */

$namespace : 'moo';

/* typo */
$font-body-family:"'Helvetica Neue', Helvetica, Arial, sans-serif";
$font-body-color:'#444';
$font-header-family:"'Helvetica Neue', Helvetica, Arial, sans-serif'";
$font-header-color:'#222';

/* breakpoints */
$breakpoint-tablet: 740px !default;
$breakpoint-desktop: 980px !default;

/* layout */
$layout-body-padding:24px;

/* navbar */
$navbar-default-size:45px;
$navbar-default-padding:16px;
$navbar-default-margin:8px;

/* grid defaults */
$grid-columns: 4 !default;
$grid-max-columns: 12 !default;
$grid-padding: 8px;
$grid-margin: 8px;

/* grid desktop */
$grid-desktop-columns: $grid-max-columns !default;
$grid-desktop-padding: $grid-padding !default;
$grid-desktop-margin: $grid-margin !default;

/* grid tablet */
$grid-tablet-columns: 8 !default;
$grid-tablet-padding: $grid-padding !default;
$grid-tablet-margin: $grid-margin !default;

/* grid phone (same as default) */
$grid-phone-columns: $grid-columns !default;
$grid-phone-padding: $grid-padding !default;
$grid-phone-margin: $grid-margin !default;
