//layout
.#{$namespace}-layout {
    // padding: $layout-body-padding;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.#{$namespace}-layout--full {
  height: 100%;
}

.#{$namespace}-layout--center {
  justify-content: center;
  align-items: center;
}

.#{$namespace}-layout--reverse,.#{$namespace}-layout--column-reverse {
  flex-direction: column-reverse;
}
.#{$namespace}-layout--row {
  flex-direction: row;
}
.#{$namespace}-layout--row-reverse {
  flex-direction: row-reverse;
}

.#{$namespace}-layout--no-space {
  padding: 0px;
}

.#{$namespace}-layout--padding {
  padding: $layout-body-padding;
}

.#{$namespace}-layout--hide {
  display: none !important;
}

@include phone {
  .#{$namespace}-layout--phone-hide {
    display: none !important;
  }
}

@include tablet {
  .#{$namespace}-layout--tablet-hide {
    display: none !important;
  }
}

@include desktop {
  .#{$namespace}-layout--desktop-hide {
    display: none !important;
  }
}
