/* global */
$namespace : 'moo';

/* defaults */
// $body-default-color:#f5f5f5;
$body-default-color:#ecf0f1;
$body-default-padding:18px;

/* typo */
$font-body-family:Sans-Serif;
$font-body-weight:300;
$font-body-color:#444;

$font-header-family:'Proxima Nova','Helvetica Neue', Helvetica, Arial, sans-serif;
$font-header-weight:300;
$font-header-color:#222;

/* breakpoints */
$breakpoint-tablet: 740px !default;
$breakpoint-desktop: 980px !default;

/* layout */
$layout-body-padding:24px;

/* navbar */
$navbar-default-color:#2980b9;
$navbar-default-size:45px;
$navbar-default-padding:16px;
$navbar-default-margin:8px;

$navbar-md-size: $navbar-default-size * 2;
$navbar-lg-size: $navbar-default-size * 4;

/* grid defaults */
$grid-columns: 4 !default;
$grid-max-columns: 12 !default;
$grid-padding: 8px;
$grid-margin: 8px;

/* grid desktop */
$grid-desktop-columns: $grid-max-columns !default;
$grid-desktop-padding: $grid-padding !default;
$grid-desktop-margin: $grid-margin !default;

/* grid tablet */
$grid-tablet-columns: 8 !default;
$grid-tablet-padding: $grid-padding !default;
$grid-tablet-margin: $grid-margin !default;

/* grid phone (same as default) */
$grid-phone-columns: $grid-columns !default;
$grid-phone-padding: $grid-padding !default;
$grid-phone-margin: $grid-margin !default;
